<% layout("/layouts/boilerplate") %>

<style>
    h2{
        text-align: center;
        /* margin-left: 50px !important; */
    }

    .card:hover{
        box-shadow: 4px 8px 16px black !important;
    }
</style>

<div class=" offset-2 mt-5 col-8 p-4 shadow-sm rounded bg-white card">
    <img src="/images/../success.webp" class="img-fluid rounded shadow" alt="Booking Confirmed!">
          <h2>✔ Booking Confirmed!</h2>
        </div>

<!-- <div class="offset-4 mt-5 col-8 confirmBooking">
    <h2>🎉 Booking Confirmed!</h2>
</div> -->

<a href="/listings"><button class="offset-5 btn btn-dark btn-lg mt-3 mb-2 ">Back to Listings</button></a>